body {
    background: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  .cuadro {
    margin: 0 auto;
    padding: 100px;
    width: 300px;
    background-image: url(flor.jpg);
    background-size: cover;
    box-shadow: 5px 5px 5px #2a2828;
    border-radius: 5px;
    text-align: center;
  }
  
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #333;
    font-size: 16px;
    cursor: pointer;
  }
  .btn:hover {
    color: red;
  }
  
